<ng-template #ulTemplate>
    <ul #htmlElement [ngClass]="ul.classe" [ngStyle]="ul.style">
        <ng-container *ngFor="let li of ul.lis">
            <li *ngIf="!li.item.nePasAfficher" [ngClass]="li.classe" [ngStyle]="li.style">
                <app-kf-composant [attr.nom]="li.item.nom" [composant]="li.item">
                </app-kf-composant>
            </li>
        </ng-container>
    </ul>
</ng-template>

<ng-container *ngIf="ul.dansNav; else ulTemplate">
    <nav #navElement [ngClass]="ul.classeNav" [ngStyle]="ul.styleNav">
        <ng-container *ngTemplateOutlet="ulTemplate"></ng-container>
    </nav>
</ng-container>