<div ngbDropdown #dropdown [ngClass]="ngbDropdown.classe" [attr.placement]="ngbDropdown.placement">
    <button [id]="ngbDropdown.nom" ngbDropdownToggle #htmlElement [disabled]="ngbDropdown.bouton.inactif" [ngClass]="ngbDropdown.bouton.classe">
        <app-kf-contenu-phrase *ngIf="ngbDropdown.bouton.contenuPhrase" [contenuPhrase]="ngbDropdown.bouton.contenuPhrase"></app-kf-contenu-phrase>
    </button>
    <div ngbDropdownMenu [attr.aria-labelledby]="ngbDropdown.nom" [ngClass]="ngbDropdown.classeMenu">
        <ng-container *ngFor="let contenu of ngbDropdown.contenus">
            <ng-container *ngIf="estGroupe(contenu); then groupeTemplate; else itemTemplate"></ng-container>
            <ng-template #groupeTemplate>
                <ng-container *ngIf="contenu.contenuPhrase.contenus.length > 0">
                    <div class="dropdown-divider"></div>
                    <ng-container *ngFor="let contenu1 of contenu.contenuPhrase.contenus" role="menuitem">
                        <app-kf-composant [composant]="contenu1"></app-kf-composant>
                    </ng-container>
                </ng-container>
            </ng-template>
            <ng-template #itemTemplate>
                <app-kf-composant [composant]="contenu"></app-kf-composant>
            </ng-template>
        </ng-container>
    </div>
</div>