<ng-container *ngIf="bouton.ngbPopover; then ngbPopoverTemplate; else normalTemplate"></ng-container>
<ng-template #normalTemplate>
    <button #htmlElement [type]="bouton.typeDeBouton" [name]="bouton.nom" [disabled]="inactif" [ngClass]="bouton.classe"
        [ngStyle]="bouton.style">
        <app-kf-contenu-phrase [contenuPhrase]="bouton.contenuAAfficher"></app-kf-contenu-phrase>
    </button>
</ng-template>
<ng-template #ngbPopoverTemplate>
    <ng-template #popContent>
        <ng-container *ngFor="let contenu of bouton.ngbPopover.contenus">
            <app-kf-composant [composant]="contenu"></app-kf-composant>
        </ng-container>
    </ng-template>
    <ng-template #popTitle>
        <app-kf-etiquette *ngIf="bouton.ngbPopover.titre" [composant]="bouton.ngbPopover.titre">
        </app-kf-etiquette>
    </ng-template>

    <ng-container *ngIf="bouton.btnGroupe; else boutonPopoverTemplate">
        <div [class]="bouton.btnGroupe.popoverGroupeClasse" role="group">
            <ng-container *ngTemplateOutlet="boutonPopoverTemplate"></ng-container>
        </div>
    </ng-container>

    <ng-template #boutonPopoverTemplate>
        <button #htmlElement type="button" [name]="bouton.nom" [ngClass]="bouton.classe" [ngStyle]="bouton.style"
            [disabled]="bouton.inactif" [ngbPopover]="popContent" [popoverTitle]="popTitle"
            [placement]="bouton.ngbPopover.placement ? bouton.ngbPopover.placement : 'auto'" container="body">
            <app-kf-contenu-phrase [contenuPhrase]="bouton.contenuAAfficher"></app-kf-contenu-phrase>
        </button>
    </ng-template>
</ng-template>