@import "../../../../node_modules/bootstrap/scss/bootstrap";

.kf-input-bouton-flottant {
    z-index: 999;
    background-color: transparent;
    border: none;
    position: absolute;
    right: .1rem;
}
.kf-input-vide .kf-input-cache-si-vide {
    display: none;
}
.kf-input-pas-vide .kf-input-cache-si-pas-vide {
    display: none;
}

.kf-invisible {
    display: none !important;
}

@function decalage-vertical($base-height, $base-padding-bottom, $base-margin-bottom, $over-height) {
    $distance-milieux: $base-height * 0.5 + $base-padding-bottom + $base-margin-bottom + $over-height * 0.5;
    @return -$distance-milieux;
}
@mixin kf-input-icone-mix($base-height, $base-padding-bottom, $base-margin-bottom, $font-size) {
    float: right;
    position: relative;
    z-index: 3;
    cursor: pointer;
    @include font-size($font-size);
    margin-right: 5px;
    margin-top: -$base-height * 1em;
}
.kf-input-icone {
    @include kf-input-icone-mix($input-line-height, $input-padding-y, 0, $input-font-size);
}
.kf-input-icone-sm {
    @include kf-input-icone-mix($input-line-height, $input-padding-y-sm, 0, $input-font-size-sm);
}
.kf-input-icone-lg {
    @include kf-input-icone-mix($input-line-height, $input-padding-y-lg, 0, $input-font-size-lg);
}

.kf-texte-dans-icone-fond {
    display: inline-block;
    text-align: center;
}

.kf-texte-dans-icone {
    display: block;
    font-size: 0.66em;
    position: relative;
    top: -0.25em;
}

.kf-legende {
    width: auto;
    font-size: 1em;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.kf-largeur0 {
    width: 0;
    color: #a94442;
};

.kf-enligne {
    display: inline;
}

.kf-bouton {
    cursor: pointer;
    cursor: hand;
}
.kf-bouton:disabled {
    cursor: pointer;
}

.kf-bouton.kf-choisi  {
    color: blue;
}
div.kf-choisi {
    border: 1px solid blue;
}

.kf-menu-vertical .kf-ferme .kf-sous-menu {
    display: none;
}

div.kf-sous-menu.kf-menu-horizontal {
    display: inline;
}
.kf-table {
	display: table;
	padding: 6px;
}
.kf-table .kf-thead {
	display: table-header-group;
	padding: 6px;
}
.kf-table .kf-row {
	display: table-row;
}
.kf-table .kf-cell {
	margin: 6px;
	display: table-cell;
}

.kf-éclairé {
    background-color: darkgoldenrod;
}

$icon-sort: "\f0dc";
$icon-sort-up: "\f0de";
$icon-sort-down: "\f0dd";
.kf-vue-table-tri {
    cursor: pointer;  
}
.kf-vue-table-tri-::after {
    font-family: "Font Awesome 5 Free"; 
    font-weight: 900; 
    content: $icon-sort;  
}
.kf-vue-table-tri-asc::after {
    font-family: "Font Awesome 5 Free"; 
    font-weight: 900; 
    content: $icon-sort-up;  
}
.kf-vue-table-tri-desc::after {
    font-family: "Font Awesome 5 Free"; 
    font-weight: 900; 
    content: $icon-sort-down;  
}

.kf-ligne-invalide .invalid-feedback {
    display: block;
}

$icon-dernier: "\f101";
.page-link.page-link-dernier::before {
    font-family: "Font Awesome 5 Free"; 
    font-weight: 900; 
    content: $icon-dernier;
}


/* à appliquer au fond d'une icone pour qu'elle soit centrée au dessus de son conteneur de classe .avec-survol */
$survol-font-size: 1.25em;
/* à appliquer au conteneur pendant le survol */
$survol-opacity: 0.33;
/* à appliquer au fond d'une icone pour qu'elle soit centrée au dessus de son conteneur de classe .avec-survol */
.survol-centre {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: center;
    vertical-align: middle;
    font-size: $survol-font-size;
}
/* à appliquer à un conteneur qui contient une icone pour qu'elle soit centrée au dessus de ce conteneur si le fond de l'icone est de classe survol-centre */
.avec-survol {
    position: relative;
}
/* à appliquer aux autres contenus du conteneur pendant le survol */
.avec-survol-actif, .avec-survol-actif * {
    opacity: $survol-opacity;
}

tr.active {
    background-color: #949292;
}