<ng-template #labelTemplate let-avecLabel>
    <label #labelElement [attr.for]="avecLabel.nom" [ngClass]="avecLabel.label.classe">
        <app-kf-contenu-phrase [contenuPhrase]="avecLabel.label.contenuPhrase"></app-kf-contenu-phrase>
    </label>
</ng-template>

<ng-template #sousComposantTemplate let-composant>
    <ng-container [ngSwitch]="composant.type">
        <ng-container *ngSwitchCase="type.etiquette">
            <span [ngClass]="composant.classe" [ngStyle]="composant.style">
                <app-kf-contenu-phrase [contenuPhrase]="composant.contenuPhrase"></app-kf-contenu-phrase>
            </span>
        </ng-container>
    </ng-container>
</ng-template>

<ng-template #infoTemplate>
    <app-kf-etiquette *ngIf="input.texteAide" [composant]="input.texteAide"></app-kf-etiquette>
    <div *ngIf="input.avecInvalidFeedback" class="invalid-feedback">
        <p *ngFor="let erreur of input.erreurs">{{erreur}}</p>
    </div>
</ng-template>

<ng-container *ngIf="input.classeDiv; then avecDivTemplate; else sansDivTemplate"></ng-container>

<ng-template #avecDivTemplate>
    <div nom="classeDiv" [ngClass]="input.classeDiv">
        <ng-container *ngTemplateOutlet="sansDivTemplate"></ng-container>
    </div>
</ng-template>

<ng-template #sansDivTemplate>
    <ng-container *ngIf="input.avecLabelAvant">
        <ng-container *ngTemplateOutlet="labelTemplate; context: { $implicit: input }"></ng-container>
    </ng-container>
    <ng-container *ngIf="input.classeEntree; then entreeAvecDivTemplate; else entreeTemplate"></ng-container>

    <ng-template #entreeAvecDivTemplate>
        <div nom="classeEntree" [ngClass]="input.classeEntree">
            <ng-container *ngTemplateOutlet="entreeTemplate"></ng-container>
            <ng-container *ngIf="input.survol">
                <app-kf-survol [composant]="input.survol"></app-kf-survol>
            </ng-container>
        </div>
    </ng-template>
</ng-template>

<ng-template #entreeTemplate>
    <ng-container *ngIf="input.composantAvant">
        <ng-container *ngTemplateOutlet="sousComposantTemplate; context: { $implicit: input.composantAvant }">
        </ng-container>
    </ng-container>

    <ng-container *ngIf="!estNombre; else nombreTemplate">
        <ng-container *ngIf="estTexte; then texteTemplate; else dateTempsTemplate">

        </ng-container>

    </ng-container>
    <ng-container *ngIf="input.avecLabelApres">
        <ng-container *ngTemplateOutlet="labelTemplate; context: { $implicit: input }"></ng-container>
    </ng-container>
    <ng-container *ngTemplateOutlet="infoTemplate"></ng-container>
</ng-template>


<ng-template #nombreTemplate>
    <input #inputElement [name]="input.nom" [type]="input.typeDInput" [formControl]="input.formControl"
        [ngClass]="input.classe" [readonly]="input.lectureSeule" [attr.disabled]="input.inactif"
        [attr.placeholder]="input.placeholder" [min]="nombre.min" [max]="nombre.max" [step]="nombre.pas" />
</ng-template>

<ng-template #dateTempsTemplate>
    <div [ngClass]="input.classe">
        <input #inputElement [name]="input.nom" [type]="dateTemps.inputDate.typeDInput"
            [formControl]="dateTemps.inputDate.formControl" [ngClass]="dateTemps.inputDate.classe"
            [readonly]="input.lectureSeule" [attr.disabled]="input.inactif"
            [attr.placeholder]="dateTemps.inputDate.placeholder" (change)="dateTemps.quandValeurChange()" />
        <input [name]="dateTemps.inputTemps.nom" [type]="dateTemps.inputTemps.typeDInput"
            [formControl]="dateTemps.inputTemps.formControl" [ngClass]="dateTemps.inputTemps.classe"
            [readonly]="input.lectureSeule" [attr.disabled]="input.inactif"
            [attr.placeholder]="dateTemps.inputTemps.placeholder" (change)="dateTemps.quandValeurChange()" />
    </div>
</ng-template>

<ng-template #texteTemplate>
    <ng-container *ngIf="texte.iconesBoutons; then avecIconeBouton; else sansIconeBouton"></ng-container>
</ng-template>

<ng-template #sansIconeBouton>
    <input #inputElement [name]="input.nom" [type]="input.typeDInput" [formControl]="input.formControl"
        [ngClass]="input.classe" [readonly]="input.lectureSeule" [attr.disabled]="input.inactif"
        [attr.placeholder]="input.placeholder" />
</ng-template>

<ng-template #avecIconeBouton>
    <ng-container *ngIf="texte.cssDivBouton; else sansCssBouton">
        <div nom="inputboutons" [ngClass]="texte.cssDivBouton.classe" [ngStyle]="texte.cssDivBouton.style">
            <ng-container *ngTemplateOutlet="sansCssBouton"></ng-container>
        </div>
    </ng-container>

    <ng-template #sansCssBouton>
        <ng-container *ngTemplateOutlet="sansIconeBouton"></ng-container>
        <ng-container *ngFor="let iconeBouton of texte.iconesBoutons">
            <span [class]="iconeBouton.icone.faClasse" [ngClass]="iconeBouton.icone.classe"
                (pointerdown)="iconeBouton.quandEnfonce()" (pointerup)="iconeBouton.quandRelache()"
                (click)="iconeBouton.quandClic()">
            </span>
        </ng-container>
    </ng-template>

</ng-template>