<ng-container *ngIf="!balise; else baliseTemplate">
    <ng-container *ngIf="!labelFor; else labelTemplate">
        <app-kf-contenu-phrase [contenuPhrase]="contenuPhrase"></app-kf-contenu-phrase>
        <ng-container *ngIf="suiviDeSaut"><br></ng-container>
    </ng-container>
</ng-container>
<ng-template #labelTemplate>
    <label #labelElement [attr.for]="labelFor" [ngClass]="etiquette.classe">
        <app-kf-contenu-phrase [contenuPhrase]="contenuPhrase"></app-kf-contenu-phrase>
    </label>
</ng-template>
<ng-template #baliseTemplate>
    <app-kf-balise [balise]="balise"></app-kf-balise>
</ng-template>