<ng-container *ngIf="!composant.nePasAfficher">

    <ng-container [ngSwitch]="composant.type">

        <!-- composants conteneurs -->
        <app-kf-groupe *ngSwitchCase="type.groupe" [composant]="composant">
        </app-kf-groupe>

        <app-kf-ngb-dropdown *ngSwitchCase="type.ngbDropdown" [composant]="composant"></app-kf-ngb-dropdown>

        <app-kf-radios *ngSwitchCase="type.radios" [composant]="composant">
        </app-kf-radios>

        <app-kf-b-btn-group *ngSwitchCase="type.b_btn_group" [composant]="composant">
        </app-kf-b-btn-group>

        <app-kf-ul-ol *ngSwitchCase="type.ulol" [composant]="composant">
        </app-kf-ul-ol>

        <app-kf-description *ngSwitchCase="type.description" [composant]="composant">
        </app-kf-description>

        <ng-container *ngSwitchDefault>

            <ng-container [ngSwitch]="composant.type">

                <!-- contenus phrasés simples -->

                <app-kf-texte *ngSwitchCase="type.texte" [composant]="composant">
                </app-kf-texte>

                <app-kf-image *ngSwitchCase="type.image" [composant]="composant">
                </app-kf-image>

                <app-kf-icone *ngSwitchCase="type.icone" [composant]="composant">
                </app-kf-icone>

                <app-kf-bootstrap-spinner *ngSwitchCase="type.bsSpinner" [composant]="composant">
                </app-kf-bootstrap-spinner>

                <app-kf-vue-json *ngSwitchCase="type.vuejson" [composant]="composant"
                   ></app-kf-vue-json>

                <!-- éléments -->
                <app-kf-etiquette *ngSwitchCase="type.etiquette" [composant]="composant"></app-kf-etiquette>

                <app-kf-bouton *ngSwitchCase="type.bouton" [composant]="composant">
                </app-kf-bouton>

                <app-kf-lien *ngSwitchCase="type.lien" [composant]="composant">
                </app-kf-lien>

                <app-kf-fichier-sauve *ngSwitchCase="type.fichierSauve" [composant]="composant"></app-kf-fichier-sauve>

                <app-kf-fichier-charge *ngSwitchCase="type.fichierCharge" [composant]="composant">
                </app-kf-fichier-charge>

                <app-kf-fichier *ngSwitchCase="type.fichier" [composant]="composant"></app-kf-fichier>

                <app-kf-vue-table *ngSwitchCase="type.vuetable" [composant]="composant"></app-kf-vue-table>

                <app-kf-table *ngSwitchCase="type.table" [composant]="composant">
                </app-kf-table>

                <!-- éléments de formulaire -->
                <app-kf-caseacocher *ngSwitchCase="type.caseacocher" [composant]="composant"></app-kf-caseacocher>

                <app-kf-input *ngSwitchCase="type.input" [composant]="composant">
                </app-kf-input>

                <app-kf-radio *ngSwitchCase="type.radio" [composant]="composant">
                </app-kf-radio>

                <app-kf-liste-deroulante *ngSwitchCase="type.listederoulante" [composant]="composant">
                </app-kf-liste-deroulante>

            </ng-container>
            <ng-container *ngFor="let contenu of composant.contenus">
                <app-kf-composant [attr.nom]="contenu.nom" [composant]="contenu">
                </app-kf-composant>
            </ng-container>

        </ng-container>

    </ng-container>

</ng-container>

<!-- POUBELLE

        <app-kf-liste *ngSwitchCase="type.liste" [composant]="composant">
        </app-kf-liste>

        <app-kf-liste-editeur *ngSwitchCase="type.listeEditeur" [composant]="composant"
           ></app-kf-liste-editeur>

                <app-kf-menu *ngSwitchCase="type.menu" [composant]="composant"
                   ></app-kf-menu>


-->