<div #htmlElement role="toolbar" [attr.aria-label]="ariaLabel" class="btn-toolbar" [ngClass]="bbtnToolbar.classe"
    [ngStyle]="bbtnToolbar.style">
    <ng-container *ngFor="let contenu of bbtnToolbar.contenus">
        <ng-container *ngIf="!contenu.nePasAfficher">
            <ng-container *ngIf="bbtnToolbar.estBtnGroup(contenu); else inputTemplate">
                <app-kf-b-btn-group [composant]="contenu"></app-kf-b-btn-group>
            </ng-container>
            <ng-template #inputTemplate>
                <ng-container *ngIf="bbtnToolbar.estInput(contenu); else listeTemplate">
                    <app-kf-input [composant]="contenu"></app-kf-input>
                </ng-container>
                <ng-template #listeTemplate>
                    <ng-container *ngIf="bbtnToolbar.estListederoulante(contenu); else erreurTemplate">
                        <app-kf-liste-deroulante [composant]="contenu">
                        </app-kf-liste-deroulante>
                    </ng-container>
                    <ng-template #erreurTemplate>
                        !!! ERREUR !!!
                    </ng-template>

                </ng-template>
            </ng-template>
        </ng-container>
    </ng-container>
</div>